html {
    background-image: url('https://images.pexels.com/photos/134643/pexels-photo-134643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');  
    background-size: cover; 
}

.container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.name {
    grid-row: 1 / span 3;
    grid-column: 1 / span 5;
    
}
head {
    width: 100%;
      
}
h1 {
    font-weight: 80px;
    position: center;
    margin-left: 80px;
    color: white;
    font-size: 60px;

}
.aboutme {
    grid-row: 3;
    grid-column: 2 / span 4;
    color: white;
}
.examples {
    grid-row: 4;
    grid-column: 2 / span 4;
}
h3 {
    color: white;
}

.footer {
    grid-row: 5;
    grid-column: 1 / span 5;
    margin: auto;
    color: white;
    display: inline;
    border: white;
    border-style: solid;

    

}
#contact {
    
    font-size: 20px;
    color: white;
    
    
    
}
#email {
    text-align: center;
    
}
#resume {
    text-align: right;
    color: white;
    font-size: 20px;
    display: inline;
    bottom: 0;
}
#resume img {
    width: 80px;
}

#contact img {
    width: 80px;
    
}
#email img {
    width: 80px;
}